<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.lrusso.blindcommunicator"
    android:versionCode="44"
    android:versionName="1.9.8.6.6" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />        
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
		
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
	<uses-feature android:name="android.hardware.microphone" android:required="false"/> 

    <supports-screens android:resizeable="true"
        			  android:smallScreens="true"
        			  android:normalScreens="true"
        			  android:largeScreens="true"
        			  android:xlargeScreens="true"
        			  android:anyDensity="true"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main" 
            android:name="ar.com.lrusso.blindcommunicator.Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        
        </activity>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.BookmarksList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.BookmarksDelete"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.Browser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.BrowserPageViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
		<activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.Applications"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		
		<activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.VoiceRecorder"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		
		<activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.VoiceRecorderCreate"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		
		<activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.VoiceRecorderList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		
		<activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.VoiceRecorderDelete"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.Alarms"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.AlarmsList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.AlarmsCreate"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.AlarmsDelete"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.AlarmsDeleteAll"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTop"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.AlarmsNotifier"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.Settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MusicPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MusicPlayerArtists"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.Messages"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MessagesInbox"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MessagesSent"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MessagesSentDeleteAll"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MessagesCompose"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MessagesDelete"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.MessagesInboxDeleteAll"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.Calls"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.CallsMake"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.CallsLogs"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.CallsLogsDelete"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.Contacts"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.ContactsCreate"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.ContactsDelete"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.ContactsList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.InputKeyboard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.InputKeyboardTalkback"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateVisible"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="ar.com.lrusso.blindcommunicator.InputVoice"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <service android:enabled="true" android:name="ar.com.lrusso.blindcommunicator.BlindCommunicatorService"/>
        
        <receiver android:name="ar.com.lrusso.blindcommunicator.AlarmsReceiver">
            <intent-filter>
                <action android:name="AR.COM.LRUSSO.BLINDCOMMUNICATOR.ALARM"/>
            </intent-filter>
        </receiver>
        
        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver android:name=".SmsReceiver"
                android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver android:name=".MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity android:name=".ComposeSmsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />                
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <!-- Service that delivers messages from the phone "quick response" -->
        <service android:name=".HeadlessSmsSendService"
                 android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
                 android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
    </application>
</manifest>
